<html>
  <%- include('head', { title }) %>
  <link rel="stylesheet" href="form.css" />
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/new" class="form">
      <div class="input-field">
        <%- include('inputField', { type: "text", id: "author", label: "author",
        placeholder: "sinskiy" }) %>
      </div>
      <div class="input-field">
        <%- include('inputField', { type: "text", id: "message", label:
        "message", placeholder: "Hello World!" }) %>
      </div>
      <button class="styled primary" type="submit">submit</button>
    </form>
  </body>
</html>
