<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %> | The Odin Project</title>
  <meta
    name="description"
    content="Basic messageboard with functionality to add new messages"
  />
  <link rel="stylesheet" href="style.css" />
</head>
