<html>
  <%- include('head', { title }) %>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% messages.forEach(message => { %>
      <%- include('message', { message, showMessageLinks }) %>
      <% }); %>
    </ul>
    <% if (showMessageLinks) { %>
    <a href="/new">new message</a>
    <% } %>
  </body>
</html>
