.form {
  display: grid;
  gap: 1rem;
}

.input-field {
  display: grid;
  gap: 0.25rem;
}

input.styled {
  max-width: fit-content;
  min-width: 0;
  padding: 0.5rem 1rem;
  outline: 1px solid var(--outline);

  border-radius: var(--rounded-card);
  font-size: 2rem;
}
input.styled:focus {
  outline: 2px solid var(--primary);
}
